# OS
.DS_Store
Thumbs.db

# LaTeX build artifacts
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints

# Word / Office temp
~$*
*.tmp

# Large files we don't want in git
*.zip
*.tar.gz

# Git LFS metadata (if used)
*.pdf


.env
.copilot-instructions.md